  h2 {

   font-size:30px;
  }

  a { /* 선택자 */
    color:blue;
    text-decoration: none; /*밑줄 없애기*/
  }
  h1 {
    font-size:40px;
    text-align:center;
    border-bottom:1px solid gray;
    margin:0;
    padding:20px;
  }
  ol {
    border-right:1px solid gray;
    width:80px;
    font-size:20px;
    margin:0;
    padding:20px;
    padding-left: 33px;
  }
  h2 {
    text-align:left;
  }
  body {
    margin:0;
  }
  #grid {
    display:grid;
    grid-template-columns: 150px 1fr;
  }
  #grid #article{
    padding-left:25px;
  }
  @media(max-width:800px){
    #grid{
      display:block; /*블럭은 한라인을 다차지하므로*/
    }
    ol {
      border-right:none;
    }
    h1 {
      border-bottom:none;
    }
  }
